<header class="site-header" style="margin: auto">

  <div class="wrapper">

    <nav class="navbar" id="topnav">
      
      <span class="nitem">
        <a href="{{ site.baseurl }}/index.html">Homepage</a>
      </span>
      
      <span class="nitem">
        <a href="{{ site.baseurl }}/proces.html">Proces vzniku webu</a>
      </span>
      
      <span class="nitem"> 
        <a href="{{ site.baseurl }}/mainweb.html">Hlavní web</a>
      </span>

      <span class="nitem"> 
        <a href="{{ site.baseurl }}/current.html">V tvorbě</a>
      </span>
      
      <span class="nitem"> 
        <a href="{{ site.baseurl }}/db.html">Databáze</a>
      </span>
      
      <span class="nitem"> 
        <a href="{{ site.baseurl }}/liblock/">Ukázka zámku</a>
      </span>
      
      
    </nav>

  </div>

	</header>
